.newgametitle{
    margin: 2.5% 0 2.5%;
}

.card{
    margin: 5% 25%;
    height: 70%;
    width: 50%;
    background-color: darkslateblue;
    color: beige;
    border-radius: 30px;
    font-family: cursive;

}

.cardEmoji{
    font-size:700%;
}

.cardName{
    font-size: 200%;
}

.draw-tab{
    margin-top: 2%;
}

.game{
    display: flex;
}

.gameData{
    text-align: left;
}

.gameMenu{
    text-align: right;
    width: 20%;
}

.gameMenu button{
    margin: 4% 0 4%;
}

.cardPlace{
    width: 60%;
}

.gameData{
    width: 20%;
}

.rulesDiv{
    margin: 5% 0 5%;
    text-align: left;
}

@media screen and (max-width: 1024px){
    .game{
        display: block;
        padding: 10%;
    }

    .gameMenu, .cardPlace, .gameData{
        width: 100%;
        text-align: center;
        margin-bottom: 20px;
    }

    .card{
        width: 80%;
        margin: 10%;
    }

}